/* -------- Geral ---------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  line-height: 1.71429;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.fa-star{
  font-size: 30px;
  color: white;
}

.fa-star-black{
  font-size: 30px;
  color: black;
}

.fa-star-bar{
  margin-bottom: 15px;
  text-align: center;
}

.bar{
  display: inline-block;
  width: 100px;
  border-top: 5px solid white;
  position: relative;
  bottom: 9px;
  margin: 0;
}

.bar-black{
  display: inline-block;
  width: 100px;
  border-top: 5px solid black;
  position: relative;
  bottom: 9px;
  margin: 0;
}

/* -------- Header ---------------- */
.mr-9 {
  margin-right: 9.3px;
}
  
.header {
  display: flex;
  background-color: #2c3e50;
  height: 81px;
  width: 100%;
  align-items: center;
  color: white;
  justify-content: space-between;
}

div.left{
  font-weight: 900;
  font-size: 24px;
  padding-left: 142px;
  margin-top: -1.5px;
}

div.right{
  font-weight: 900;
  font-size: 15px;
  padding-right: 136px;
  margin-top: -5px;
}

/* -------- Section 1 - Profile ---------------- */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #18BC9C;
  background-repeat: no-repeat;
  height: 636px;
  color: white;
}

.profile-title{
  font-weight: 800;
  margin-top: 40px;
  font-size: 65px;
  margin-bottom: 0;
}

.profile-paragraph{
  font-weight: 700;
  margin-top: 40px;
  font-size: 22px;
  margin-bottom: 0;
}

/* -------- Section 2 - portfolio ---------------- */
.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  background-repeat: no-repeat;
  height: 798px;
  color: black;
}

.portfolio-title{
  font-weight: 800;
  margin-top: 40px;
  font-size: 43px;
  margin-bottom: 0;
}

/* -------- Section 3 - about -------------------- */
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #18BC9C;
  background-repeat: no-repeat;
  height: 521px;
  color: white;
}

.about-title{

}

/* -------- Section 4 - contact ------------------ */
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  background-repeat: no-repeat;
  height: 806.49px;
  color: black;
}

.contact-title{

}

/* -------- Section 5 - footer ------------------- */
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #2C3E50;
  background-repeat: no-repeat;
  height: 308px;
  color: white;
}



  /* font-family: 'Montserrat', sans-serif; */

  /* font-family: 'Lato', sans-serif; */




*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
.container:after {
  clear: both;
}
  
.mb-0 {
  margin-bottom: 0px;
}
  
.mt-0 {
  margin-top: 0px;
}
  
.m-0 {
  margin: 0px;
}
  
.text-uppercase {
  text-transform: uppercase;
}
  
/* a {
  color: #373B47;
  text-decoration: none;
} 
  
a:hover {
  color: #E95853;
} */
  
